.project
java/bin/**
.classpath
.DS_Store
*.class
Thumbs.db
.Spothlight-V100
.Trashes
.metadata
.blg
.bbl
.aux
.log
.brf
.nlo
.out
.dvi
.ps
.lof
.toc
.fls
.fdb_latexmk
.pdfsync
.synctex.gz
.ind
.ilg
.idx
.lot
